# ----------------------
# Node / React (Frontend)
# ----------------------
Frontend/el-company/node_modules/
Frontend/el-company/dist/
Frontend/el-company/.vite/
Frontend/el-company/npm-debug.log*
Frontend/el-company/.env

# ----------------------
# .NET / C# (Backend)
# ----------------------
Backend/api/bin/
Backend/api/obj/
Backend/api/*.user
Backend/api/*.suo
Backend/api/*.userosscache
Backend/api/*.ncrunch*
Backend/api/.vs/
Backend/api/appsettings.Development.json
Backend/api/.vscode/

# ----------------------
# Docker
# ----------------------
*.env
docker-compose.override.yml
docker-compose.override.*.yml

# ----------------------
# PostgreSQL / Database
# ----------------------
pg_data/

# ----------------------
# General
# ----------------------
.DS_Store
Thumbs.db
*.log
.idea/
