version: '3.9'

services:
  db:
    image: postgres:18
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/
      - ./backup.sql:/docker-entrypoint-initdb.d/backup.sql

  backend:
    build:
      context: ./Backend/api
    container_name: my_backend
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=mydb;Username=postgres;Password=1234
    ports:
      - "5000:8080"

  frontend:
    build:
      context: ./Frontend/el-company
      args:
        VITE_API_URL: http://localhost:5000
    container_name: my_frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db_data:
